.border-bottom {
    margin-left: 1px;
    margin-right: 1px;
}

.tweet_profile_img {
    width:70%;
    border-radius: 50%
}

.recent_tweet_board {
    min-height: 200px;
}

.popular_tweet_board {
    min-height: 200px;
}

.purple {
    color:#310675
}

.orange {
    color:#09d9d5
}