<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="p-3 row" *ngIf="login_step">
  <!-- Add Login comp here -->
  <app-login class="col" (eventEmitter)="user_logged_in()"></app-login>
  <app-register class="col" (eventEmitter)="user_logged_in()"></app-register>>
</div>

<div class="p-3" *ngIf="setting_step">
  <!-- Add Settings comp here -->
  <app-settings (eventEmitter)="settings_updated()"></app-settings>
</div>

<div class="p-3" *ngIf="main_step">
  <div class="row">
      <h1 class="col-sm-10">All about your team</h1>
      <a href="javascript:void(0)" (click)="logoff()" class="col a">Sign out</a>
      <a href="javascript:void(0)" (click)="change_setting()" class="col">Settings</a>
  </div>

  <div class="mt-3">
    <span class="p-3 bg-info h3">{{favorite_team}}</span>

    <div class="main mt-3 p-3">
      <div class="row">
        <div class="col-sm-6">
          <!-- <div class="previous_game">Previous game score component</div>
          <div class="next_game">Next game component</div> -->
          <app-match [team]="favorite_team"></app-match>
          <!-- <div class="latest_news"> -->
            <app-latestnews [team]="favorite_team"></app-latestnews>
          <!-- </div> -->
        </div>

        <div class="col-sm-6">
          <app-chat class="live_chat"></app-chat>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-sm-6">
          <div class="data_visualization">Data Visualization component</div>
        </div>

        <div class="col-sm-6">
          <!-- <div class="twitter_data">Data from twitter component</div> -->
          <app-twitterdata [team]="favorite_team"></app-twitterdata>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>